@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  line-height: 28px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, Helvetica;
}

:root {
  --pinda: #72AFA6;
  --white: #fff;
  --grey: #f5f5f5;
  --back1: #222;
  --black2: #999;
  --card: #D5EDEE;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  gap: 0.5em;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-template-areas:
    "nav main";
  overflow: clip;
  overflow-y: visible;
  margin-bottom: 5em;
}

/* TEKST */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: var(--pinda);
  display: block;
  font-size: 2em;
  text-align: center;
  margin-top: -15%;
  margin-right: 22%;
}

h2 {
  color: var(--pinda);
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-left: -15px;
  margin-top: 2em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-left: -15px;
  margin-top: 33px;
  color: var(--back1);
  margin-bottom: 0.5em;

}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin-left: -15px;
  color: var(--back1);
  margin-bottom: 0.5em;

}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-top: 2em;
  font-weight: 700;
  margin-left: -15px;
  color: var(--pinda);

}



p {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-left: -15px;
  margin-right: 10%;
  text-align: left;
  color: var(--black1);

}


/* NAV */
.container {
  position: relative;
  width: 100%;
}


.navigation {
  position: fixed;
  width: 340px;
  height: 100%;
  background: var(--pinda);
  border-left: 10px solid var(--pinda);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: -73px;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* CURVE */

.img-patroon {
  width: 50%;
  margin-top: -4em;
  margin-left: 40em;

}

@media only screen and (max-width: 1190px) {

  .navigation {
    width: 80px;
  }

  .toggle {
    display: none;
  }
}